textarea {
    height: 200px;
}

button {
    color: #fbf5f7;
    background-color: #344017;
}

input,
textarea {
    text-align: center;
}

span {
    color: red;
    font-weight: bold;
}

.error-text {
    color: red;
    font-weight: bold;
}